body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color:#F9ED32;
    color: #2C2A2A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#2C2A2A;
    color: #F9ED32;
    font-weight: 500;
}
/* -------------------------------------------------------------------- */
/* Media Queries for Responsive Design */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .container {
        padding: 15px;
        box-shadow: none;
        border-radius: 0;
    }

    h1 {
        font-size: 20px;
    }

    input, select, button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 22px;
    }

    input, select, button {
        font-size: 15px;
        padding: 9px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 24px;
    }

    input, select, button {
        font-size: 16px;
        padding: 10px;
    }
}